@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Muli', sans-serif;
}

.ipt {
	width: 80%;
	height: 30px;
	margin: 5px;
	font-size: 13px;
}

.date {
	margin: 5px;
}

.btn {
	margin: 5px;
	text-align:center;
	font-size: 11px;
}

#infobox {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

.infolabel {
	font-weight: 400;
}

.working {
	font-weight: 300;
	font-size: 11px;
}

button {
  	border-radius: 0 !important;
}

.form-control {
	border-radius: 0 !important;
}

.input-group-addon {
	border-radius: 0 !important;
}
