// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    height: 100%;
}

h1 {
  padding-bottom: 20px;
}
#map {
	height: 600px;
	width: 780px;
  margin: 0px 0px 0px 0px;
  padding: 0;
  flex: 1;
}

#form-group {
	padding: 0;
  float: left;
  width: 10px;
  margin: 0px 0px 0px 0px;
}

#text {
  width: 50px;
}
