<!-- key: AIzaSyAbZbQ1OXo5JR2T3fcuZTfwipr772I-VyE -->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="vendor/javascripts/moment.min.js"></script>
  </head>

  <body>

    <h1>Hyde Park Crime Mapping</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="selections">

          <form class="form-inline" id="form">

            <div class="row">
              <div class="form-group">
                <label for="address" class="sr-only">Address</label>
                <input id="address" type="textbox" placeholder="Address">
                <label for="key-words" class="sr-only">KeyWords</label>
                <input id="key-words" type="textbox" placeholder="Key Words">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class='input-group date' id='timepickerstart'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class='input-group date' id='timepickerend'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <button class="btn btn-default" type="button" id="submit">Submit</button>
              </div>
            </div>

          </form>

        </div>
        <div class="col-sm-8" id="map"></div>
      </div>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbZbQ1OXo5JR2T3fcuZTfwipr772I-VyE&callback=initMap"
    async defer></script>
  </body>
</html>
