<!-- key: AIzaSyAbZbQ1OXo5JR2T3fcuZTfwipr772I-VyE -->
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="vendor/javascripts/moment.min.js"></script>
  </head>

  <body>

    <h1>Hyde Park Crime Mapping</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="selections">

          <form class="form-inline">

            <div class="row">
              <div class="form-group">
                <label for="address" class="sr-only">Address</label>
                <input id="address" type="textbox" placeholder="Address">
                <label for="key-words" class="sr-only">KeyWords</label>
                <input id="key-words" type="textbox" placeholder="Key Words">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class='input-group date' id='timepickerstart'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class='input-group date' id='timepickerend'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <button class="btn btn-default" type="submit" id="submit">Submit</button>
              </div>
            </div>

          </form>

        </div>
        <div class="col-sm-8" id="map"></div>
      </div>
    </div>


    <script type="text/javascript">

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.79, lng: -87.6},
          zoom: 15
        });

        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });

        var marker_geocoder = new google.maps.Geocoder();
        var address = "5717 South Kimbark Ave. 60637";
        addMarker(map, marker_geocoder, address);

        var crime_list = ["Chicago"];
        for (var i = 0; i < crime_list.length; i++) {
          addMarker(map, marker_geocoder, crime_list[i]);
        }
      }

      function addMarker(map, marker_geocoder, hp) {
        marker_geocoder.geocode({'address': hp}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              label: 'A',
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

      function markAddresses(map, marker_geocoder, addresses) {
        for (var i = 0; i < addresses.length; i++) {
          addMarker(map, marker_geocoder, addresses[i]);
        }
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

    </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbZbQ1OXo5JR2T3fcuZTfwipr772I-VyE&callback=initMap"
    async defer></script>
  </body>
</html>
